<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body lang="{{ .Site.Params.Lang }}">

<section class="navbar topLine"> 
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="http://www.qri.io">{{ .Site.Params.Author }}</a>
            </div>
        </div>
    </div>
</section>

<section class="icons">
    <div class="container">
        <div class="content">

        {{ if .Site.Params.GitHub }}
            <a href="{{ .Site.Params.GitHub }}" target="_blank">
                <i class="icon ion-social-github"></i>
            </a>
        {{ end }}
        
        {{ if .Site.Params.Twitter }}
            <a href="{{ .Site.Params.Twitter }}" target="_blank">
                <i class="icon ion-social-twitter"></i>
            </a>
        {{ end }}

        {{ if .Site.Params.LinkedIn }}
            <a href="{{ .Site.Params.LinkedIn }}" target="_blank">
                <i class="icon ion-social-linkedin"></i>
            </a>
        {{ end }}

        {{ if .Site.Params.Facebook }}
            <a href="{{ .Site.Params.Facebook }}" target="_blank">
                <i class="icon ion-social-facebook larger"></i>
            </a>
        {{ end }}

        {{ if .Site.Params.SoundCloud }}
            <a href="{{ .Site.Params.SoundCloud }}" target="_blank">
                <i class="icon ion-ios-musical-notes larger"></i>
            </a>
        {{ end }}

        {{ if .Site.Params.Email }}
            <a href="mailto:{{ .Site.Params.Email }}">
                <i class="icon ion-ios-email larger"></i>
            </a>
        {{ end }}
        </div>
    </div>
</section>
