
{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header-light" .}} {{end}}

{{ define "main" }}
<div id="blog" class="page">
  <header>
    <div class="wrap">
      <h1 class="title">{{.Title}}</h1>
      <p class="info"><span class="date">{{ dateFormat "Jan 2, 2006" .Date }}</span> {{ range .Params.tags }}<span class="tag">{{ . }}</span>{{ end }}</p>
      <p class="info"><i>written by {{ .Params.author.display_name }}</i></p>
    </div>
  </header>
  <section class="content">
    <div class="wrap">
        {{ .Content }}
    </div>
  </section>
</div>
{{ end }} 

{{ define "footer" }}
    {{ partial "mailing-list-signup" . }}
    {{ partial "footer" . }}
{{ end }}