/* General Styles */

body {
  background: #c5c4c5;
}

body > header {
  background: transparent;
}

#top {
  margin-bottom: 0;
}

/* Home Page */
.index {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-image: url('/graphics/metablobs/1.jpg');
  background-repeat: no-repeat;
  background-size: 85%;
  background-position: 200% 0;
}

#content .copy {
  color: white;
  padding: 0 4px;
  text-shadow: 0 0 6px rgb(195,195,195);
}

@media (max-width: 768px) {
  #content .copy {
    padding: 0 24px;
  }
}

/* Docs Main Page */
.docs {
  background-size: 100%;
  padding-bottom: 10em;
  background-image: url('/graphics/metablobs/2.jpg');
  background-repeat: no-repeat;
  background-position: right top;
}
