{{ partial "header.html" . }}
<header class="masthead">
    <h1>Feeling <i>Qrious?</i></h1>
    <p>Qri.io documentation</p>
</header>
<section class="main">
    <div class="container">
        <div class="content">
            <ul>
                <li>
                    <a href="/intro"><h3>Get Started</h3></a>
                    <p>New in Town? Start Here</p>
                </li>
                <li>
                    <a href="/manage"><h3>Managing Data</h3></a>
                    <p>Learning to contribute data, as well as upload &amp; maintain your own.</p>
                </li>
                <li>
                    <a href="/api"><h3>API</h3></a>
                    <p>API documentation, b/c computers are dope.</p>
                </li>
            </ul>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}

