<div id="mailing-list-signup">
    <form class="wrap container" action="https://qri.us19.list-manage.com/subscribe/post?u=54a6a8c1171101850b8576277&amp;id=b41eb6f58e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <h2 class="title">Join our mailing list!</h2>
        <p class="description"><i>At-most-once-a-month updates on project progress.</i></p>

        <input type="email" value="" name="EMAIL" class="required email" placeholder="email@address.com" id="mce-EMAIL">
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_54a6a8c1171101850b8576277_b41eb6f58e" tabindex="-1" value="">
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
      </div>
    </form>
</div>
