.home {
  // background: 50px 65% url('/svg/paint_dots_maroon.svg') $dark-blue-slate; 
  background: $bg-gray; 
  background-size: 100%;
  padding-bottom: 10em;
  background-image: url('/graphics/metablobs/1.jpg');
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: top right;

  // #blob_masthead {
  //   // width: 60%;
  //   max-width: 700px;
  //   position: static;
  //   right: 5%;
  //   z-index: 0;
  //   img {
  //     width: 100%;
  //   }
  // }

  #blob_two {
    width: 100%;
    max-width: 800px;
    // position: fixed;
    // right: 5%;
    float: right;
    img {
      width: 100%;
    }
  }

  #header {
    padding-top: 15em;
    margin-bottom: 15em;
    width: 500px;
    .title {
      text-transform: uppercase;
    }
  }

  .box {
    background: rgba(14,38,48,0.55);
    padding: 40px 20px;

    border-radius: 3px;
    width: 33%;
    float: left;
  }

  #blurb {
    float: right;
    width: 50%;
  }
}