{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/brands.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/solid.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/regular.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/desktop_splash.css">
{{ end }}
{{ define "main" }}
<div id="desktop">
  {{ .Content }}
</div>
{{ end }}

{{ define "footer" }}
  {{ partial "footer" . }}
{{ end }}
