{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header-light" .}} {{end}}

{{ define "main" }}
<div id="blog" class="page">
  <header>
    <div class="wrap">
      <h1 class="title">{{.Title }}</h1>
      <i>last updated: {{ dateFormat "Jan 2, 2006" .Date }}</i>
      <p>{{ .Description }}</p>
      <hr />
    </div>
  </header>
  <section class="content">
    <div class="wrap">
      {{.Content}}
    </div>
  </section>
</div>
{{ end }}

{{ define "footer" }}
  {{ partial "mailing-list-signup" . }}
  {{ partial "footer" . }}
{{ end }}