@font-face {
  font-family: 'Colfax-Black';
  src: url('static.qri.io/fonts/Colfax-Black.eot?#iefix') format('embedded-opentype'),  url('static.qri.io/fonts/Colfax-Black.otf')  format('opentype'),
	     url('static.qri.io/fonts/Colfax-Black.woff') format('woff'), url('static.qri.io/fonts/Colfax-Black.ttf')  format('truetype'), url('static.qri.io/fonts/Colfax-Black.svg#Colfax-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
@font-face {
  font-family: 'Colfax-BlackItalic';
  src: url('static.qri.io/fonts/Colfax-BlackItalic.eot?#iefix') format('embedded-opentype'),  url('static.qri.io/fonts/Colfax-BlackItalic.otf')  format('opentype'),
	     url('static.qri.io/fonts/Colfax-BlackItalic.woff') format('woff'), url('static.qri.io/fonts/Colfax-BlackItalic.ttf')  format('truetype'), url('static.qri.io/fonts/Colfax-BlackItalic.svg#Colfax-BlackItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/

@font-face {
  font-family: 'Colfax-Light';
  src: url('static.qri.io/fonts/Colfax-Light.eot?#iefix') format('embedded-opentype'),  url('static.qri.io/fonts/Colfax-Light.otf')  format('opentype'),
	     url('static.qri.io/fonts/Colfax-Light.woff') format('woff'), url('static.qri.io/fonts/Colfax-Light.ttf')  format('truetype'), url('static.qri.io/fonts/Colfax-Light.svg#Colfax-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Colfax-LightItalic';
  src: url('static.qri.io/fonts/Colfax-LightItalic.eot?#iefix') format('embedded-opentype'),  url('static.qri.io/fonts/Colfax-LightItalic.otf')  format('opentype'),
	     url('static.qri.io/fonts/Colfax-LightItalic.woff') format('woff'), url('static.qri.io/fonts/Colfax-LightItalic.ttf')  format('truetype'), url('static.qri.io/fonts/Colfax-LightItalic.svg#Colfax-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Colfax-Medium';
  src: url('static.qri.io/fonts/Colfax-Medium.eot?#iefix') format('embedded-opentype'),  url('static.qri.io/fonts/Colfax-Medium.otf')  format('opentype'),
	     url('static.qri.io/fonts/Colfax-Medium.woff') format('woff'), url('static.qri.io/fonts/Colfax-Medium.ttf')  format('truetype'), url('static.qri.io/fonts/Colfax-Medium.svg#Colfax-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Colfax-MediumItalic';
  src: url('static.qri.io/fonts/Colfax-MediumItalic.eot?#iefix') format('embedded-opentype'),  url('static.qri.io/fonts/Colfax-MediumItalic.otf')  format('opentype'),
	     url('static.qri.io/fonts/Colfax-MediumItalic.woff') format('woff'), url('static.qri.io/fonts/Colfax-MediumItalic.ttf')  format('truetype'), url('static.qri.io/fonts/Colfax-MediumItalic.svg#Colfax-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}