/*
  cerulian-high: #0061A6
  cerulian-low:  #00508A
  freezie-high:  #4FC7F3
  freezie-low:   #48B3DB
  magenta-high:  #EC325A
  magenta-low:   #CC294D
  yellow-high:   #F8AB31
  yellow-low:    #F0A22F
  green-high:    #AFD148
  green-low:     #9AB83F
*/

#splash {
  color: white;
  text-shadow: 1px 1px rgba(0,0,0, .1);
  background: #F0A22F;
  font-size: 18px;
  font-family: "Avenir Next", "Avenir", Helvetica, sans-serif;

  h1 {
    font-size: 3.5rem;
  }

  h1, h2, h3, h4 {
    text-shadow: 1px 1px 1px #494949;
  }

  .sub-title {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }
}

#splash .hero {
  color: white;
  padding-top: 6em;
}

#splash .logo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

#splash .hero .screenshot {
  box-shadow: 0 0 20px #00000055;
}

#splash .triptych {
  padding-top: 4em;
  /* background: #4FC7F3; */
}

@media (min-width: 961px) {
  .container {
      width:960px;
  }
}

footer #page_footer {
  font-family: "Avenir Next", "Avenir", Helvetica, sans-serif;
  background: #CC294D;
}

.filename {
  margin: 20px 0;
}

.filename pre{
  margin: 0
}

.filename i {
  color: #212629
}

.btn-qri, .btn-qri:hover {
  color: #FFF;
}

.btn-qri-big {
  font-weight: 600;
  padding: 20px 30px;
}

.btn-qri-freezie {
  background: #4FC7F3;
  border: 0;
}

.btn-qri-freezie:hover, .btn-qri-freezie:active  {
  background: #48B3DB;
}

.btn-qri-magenta {
  background: #EC325A;
  border: 0;
}

.btn-qri-magenta:hover, .btn-qri-magenta:active  {
  background: #CC294D;
}

#splash.mac [data-os=windows] {
  display: none !important;
}

#splash.windows [data-os=mac]{
  display: none !important;
}

.nav-item {
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 576px) {
  .nav-item {
    font-size: 12px;
    font-weight: 400;
  }
}

.btn-qri-dark-blue {
  background: #0061a6;
}

.btn-qri-dark-blue:hover {
  background: #2b4a6d;
}

#splash .navbar-nav li.active {
  height: 3px;
  box-shadow: 0 35px 0 0 #017bff;
}
