@font-face {
  font-family: "Anteb-Regular";
  src: url('../../static/font/Anteb-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AntebAlt-Black";
  src: url('../../static/font/AntebAlt-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AntebAlt-ExtraBlack";
  src: url('../../static/font/AntebAlt-ExtraBlack.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
