
/* main-container */

#___gatsby, #gatsby-focus-wrapper {
  height: 100%;
}

.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  height: 100%;
  flex-grow: 1;
  overflow: hidden;
}

.standard-layout-wrapper {
  height: 100%;
  display: flex;

  @media only screen and (max-width: 767px) {
    display: block;
  }
}

/* Headers */

h1, h2, h3 {
  margin: 40px 0;
}

/* List Indentation */

.paper ol, .paper ul {
  padding-left: 2em;
}

/* List Item Link Color */

li > a {
  color: #717171;
}

li > a:hover {
  color: #4FC7F3;
}



/* Buttons */

$primary-color: #123357;
$secondary-color: #EDF0F2;

.btn {
  font-family: 'Anteb-Regular';
  font-weight: 600;
  font-size: 22px;
  border: none !important;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.28);
  box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.28);
}

.btn-lg {
  min-width: 175px;
  margin: 0 15px 15px 0;
}

.btn-primary {
  background-color: $primary-color;

  &:hover, &:active {
    background-color: lighten($primary-color, 10%) !important;
  }
}

.btn-secondary {
  background-color: $secondary-color;
  color: #000;

  &:hover, &:active  {
    color: #000 !important;
    background-color: darken($secondary-color, 3%) !important;
  }
}

.mainWrapper > .pre {
  margin: 32px 0 32px;
}

/* Info block, Warning Block */

/* based on https://render.com/docs/configure-cloudflare-dns */

.info-block {
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 12px 12px 12px 40px;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-position: 12px 12px;
  background-size: 20px;
  background-repeat: no-repeat;
  color: rgba(39,41,56,0.8);
  line-height: 1.6rem;
  position: relative;
}

.info-block.info {
  border-color: rgba(67,81,232,0.1);
  background-color: rgba(79,101,241,0.05);
}

.info-block.info svg {
  color: rgba(67, 81, 232, 0.53);
}

.info-block.warning {
  border-color: rgba(255,193,93,0.5);
  background-color: rgba(255,193,93,0.08);
}

.info-block.warning svg {
  color: rgba(255, 193, 93, 0.74);
}

.info-block-icon {
  left: 13px;
  position: absolute;
}

.docs-main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
}

/*   FOOTER   */

.footer {
  color: #666 !important;
  line-height: 28px;
  background-color: #EDF0F2;
  padding: 60px 0 20px 0;
}

.footer ul {
  list-style-type: none;
  margin-bottom: 1.8rem;
}

.footer li {
  font-size: 15px;
}

.footer li a {
  color: #666
}

.footer h5 {
  letter-spacing: 1px;
  font-family: "Anteb-Regular";
  text-transform: uppercase;
  font-size: 16px;
}

.footer .social li a {
  color: #4FC7F3;
  font-size: 20px
}

.footer .list-inline-item:not(:last-child) {
  margin-right: 1rem;
}

.sub-footer, .sub-footer li {
  font-size: 14px;
  font-weight: 300;
}

.sub-footer ul {
  margin: 0;
}

.sub-footer-item li {
  list-style-type: none;
}


/*   Docs Page   */

.docs-page {
    h1, h2 {
      font-family: 'AntebAlt-Black';
      margin: 9px 0;
    }

    h1 {
      font-size: 3.3rem;
    }

    h2 {
      font-size: 2.1rem;
    }

  .docs-hero {
    background-image: url("/img/graphics/docs-hero.png");
    background-repeat: no-repeat;
    background-position-x: right;
    padding-top: 100px;
    padding-bottom: 20px;
    background-position: right 155px top 10px;
    background-size: 50%;

    @media only screen and (max-width: 991px) {
      background-position: right 43px top 31px;
    }

    .docs-title {
      margin-bottom: 18px;

      p {
        font-weight: 500;
      }
    }

    $tile-blue: #4fc7f3;
    $tile-dark-gray: #484848;

    .docs-feature-tile-container {
      padding-bottom: 16px;
    }

    .docs-feature-tile {
      background: $tile-blue;
      padding: 16px;
      height: 100%;
      border-radius: 3px;

      h2 {
        margin-top: 0;
        color: #FFF;
      }

      p {
        color: #FFF;
      }

      &:hover, &:active {
        background-color: darken($tile-blue, 10%) !important;
      }

      &.dark {
        background: $tile-dark-gray;

        h2 {
          color: #D8D8D8;
        }

        &:hover, &:active {
          background-color: lighten($tile-dark-gray, 10%) !important;
        }
      }
    }
  }

  // override css for the docs sidebar menu
  .sideBarUL {
    display: flex;
    flex-wrap: wrap;

    .section-header {
      padding: 0;
      letter-spacing: 1px;
      font-family: "Anteb-Regular";
      text-transform: uppercase;
      font-size: 16px;
    }

    .firstLevel.item {
      margin-right: 37px;
      margin-bottom: 39px;
    }

    .item {
      margin: 0;
      padding: 0;
      font-weight: 500;
    }

    .item > a {
      padding: 0;
      color: #717171;
      font-size: 1rem;
      font-weight: 300;
    }
  }
}

.team-member-bio {
  .name {
    margin-bottom: 0
  }

  .title {
    font-size: .85rem;
    margin-bottom: 8px;
  }

  .team-member-photo:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .social {
    svg {
      color: #cdcdcd;
      margin: 0 6px;
    }
  }

  .bio {
    font-size: 0.9rem;
  }

  .image-col {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
}

.job-row {
  margin: 40px auto;
}

.job-header {
  h2 {
    margin-bottom: 0.5rem;
  }
}

// data story layout

.data-story-header {
  color: #fff;
  min-height: 600px;
  background-position: 50%;
  background-size: cover;
  width: 100%;
  padding: 21em 30px 2em;
  margin-bottom: 60px;

  .title {
    margin: 22px 0px;
    font-size: 2.5rem;
  }

  .subtitle {
    margin: 15px 0px;
    color: #ccc;
  }

  .byline {
    color: #ccc;
    margin: 15px 0px;
    font-size: .9rem;
    font-weight: 600;
  }
}

.data-story {
  font-size: 1.3rem;
  line-height: 2rem;
  margin-bottom: 60px;
}


.sticky-scroller {
  position: relative;
  margin: 0;

  .sticky-content {
    position: absolute;
    transform: translate(0px, 0px);
    width: 965px;
    z-index: 1;
    height: 100vh;
    width: 100%;
    min-height: 300px;
    max-height: 720px;
    margin: auto 0;
  }

  .scroller-filler {
    height: 136px;
  }

  .scroller-text {
    position: relative;
    right: 15px;
    margin: 70vh 0;
    z-index: 3;
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 1rem;
    font-weight: 500;
    background-color: #363636;
    color: #FFF;
    max-width: 300px;
  }
}

#brooklyn-bus-times {
  .legend {
    font-size: .8rem;
    text-align: right;

    .legend-item {
      line-height: 22px;
    }

    .legend-item-text {
      text-align: left;
      padding-left: 5px;
      width: 58px;
      display: inline-block;
    }
  }

  // bus animation chart
  .axis path, .axis line {
    stroke: #aaa;
  }

  .axis text {
    fill: #aaa;
  }
}

#the-local-scene-map {
  .mapboxgl-popup-content {
    padding: 0;
  }

  .popup-city-header {
    background: #4fc7f3;
    color: #FFF;
    font-weight: 600;
    padding: 4px 13px;
    font-size: 1rem;
  }

  .popup-city-content {
    padding: 4px 10px 8px 10px;
  }

  .popup-city-label {
    color: #686868;
    font-size: .6rem;
    font-weight: normal;
  }

  .popup-city-genre {
    line-height: 1rem;
    color: #5e5e5e;
    text-transform: capitalize;
  }

  .top-genres-label {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.7rem;
  }

  .city {
    text-transform: capitalize;
  }

  .count {
    float: right;
  }

  .overlay {
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 1;
    background: #c4c4c4;
    font-size: small;
    color: #595959;
    padding: 0 11px;
    margin: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .artist-list {
    position: absolute;
    top: 0;
    left: calc(-50vw + 50% - 320px);
    bottom: 0;
    z-index: 5;
    background: #FFF;
    width: 320px;
    -webkit-box-shadow: 1px 0px 2px 0px rgba(164, 164, 164, 0.75);
    -moz-box-shadow: 1px 0px 2px 0px rgba(164, 164, 164, 0.75);
    box-shadow: 1px 0px 2px 0px rgba(164, 164, 164, 0.75);
    transition: all 0.25s;
    -webkit-transition: all 0.25s;

    .message {
      font-size: .8rem;
      text-align: center;
    }

    &.visible {
      left: calc(-50vw + 50%);
    }

    .cityName {
      text-transform: capitalize;
    }

    .header {
      padding: 15px;
      background: #4fc7f3;
      color: #FFF;
      font-weight: 500;
    }

    .close-button {
      float: right;
      height: 34px;
      color: #FFF;

      &:hover {
        filter: brightness(85%);
        cursor: pointer;
      }
    }

    .list-group-item {
      padding: 0 11px;
      font-size: .8rem;
    }

    .sidebar-scrolling {
      flex: 1;
      overflow-y: scroll;
    }
  }
}

// not found page

.not-found-page {
  padding-top: 100px;
  padding-bottom: 100px;

  ul {
    list-style: none;
    font-size: .9rem;
    margin-top: 10px;
  }

  .title {
    font-weight: 700;
    font-size: 4rem;
    line-height: 68px;
    margin-bottom: 12px;
  }

  .subtitle {
    font-size: 2rem;
    line-height: 35px;
    margin: 30px 0;
  }

  .lost-blob-image {
    background-image: url('../../static/img/blobs/lost_blob.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 250px;
    margin-bottom: 30px;
  }

}

// docs image
.image-with-caption {
  .caption {
    text-align: center;
    font-size: 0.8rem;
  }
}

.video-card {
  .video-iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25% !important; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.video-thumbnail {
  span {
    color: #000;
    font-size: 14px;
    line-height: 20px;
  }
}
